body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #4CAF50, #81c784);
}

/* CAIXA */
div {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

/* TÍTULO */
h2 {
    margin-bottom: 20px;
    color: #2e7d32;
}

/* INPUTS */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;

    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;

    transition: 0.3s;
}

input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

/* BOTÕES */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    background: linear-gradient(135deg, #4CAF50, #66bb6a);
    color: white;

    border: none;
    border-radius: 8px;
    cursor: pointer;

    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

/* BOTÃO CADASTRAR (diferente) */
div > button {
    background: #ddd;
    color: #333;
}