body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background-image: url("Natureza.webp");
    background-repeat: no-repeat;
    /* NÃO repetir */
    background-size: cover;
    /* ocupar a tela toda */
    background-position: center;
    /* centralizar */
    background-attachment: fixed;
}


/* TOPO */
#topo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
}

#topo-esquerda h2 {
    margin: 0;
    color: white;
}

.menu {
    margin: 0;
    color: white;
}


#topo-esquerda p {
    margin: 5px 0 0;
    color: #555;
}

#topo-direita {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

#data {
    font-weight: bold;
    color: #2e7d32;
}

#hora {
    color: #333;
}

/* BOTÃO AUDIO */
#botaoAudio {
    background: white;
    border: 1px solid #ddd;
    padding: 10px 14px;
    border-radius: 20px;
    cursor: pointer;
}

/* LAYOUT PRINCIPAL */
#main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* CENTRO */
#conteudo {
    flex: 2;
}

/* HISTÓRICO */
#historico {
    flex: 1;
    background: #f1f1f1;
    padding: 15px;
    border-radius: 12px;
}

/* BOX */
.box {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* BOTÕES */
button {
    background: linear-gradient(135deg, #4CAF50, #66bb6a);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* EMOTES */
#emotes button {
    font-size: 22px;
    background: none;
}

#emotes button:hover {
    transform: scale(1.2);
}

/* TEXTAREA */
textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

/* POPUP */
.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s;
}

.popup.show {
    opacity: 1;
}

.tela {
    display: none;
}

.menu {
    text-align: center;
    margin-top: 50px;
}

.bloco {
    width: 250px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.bloco:hover {
    transform: scale(1.05);
}

.humor {
    background: #5dade2;
}

.desabafo {
    background: #58d68d;
}

.respiracao {
    background: #af7ac5;
}